In [ ]:
#question1

x = [2, 3, 6]

sum = 1 
for i in x:
  sum *= i
  print(sum)

In [ ]:
#question2

x =  [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

for j in range(len(x)-1):
   for i in range(len(x)-1):
     if x[i][1] > x[i+1][1]:
       x[i] , x[i+1] = x[i+1] , x[i]
print(x)

In [ ]:
#question3

d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

d3 = dict(d1)
d3.update(d2)

for i,j in d1.items():
  for k,l in d2.items():
    if i == k:
      d3[i] = j + l
print(d3)

In [ ]:
#question4

x = int(input())

d = {}
for i in range(1,x+1):
  d[i] = i*i
print(d)

In [ ]:
#question5

x = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

for j in range(len(x)-1):
   for i in range(len(x)-1):
     if float(x[i][1]) < float(x[i+1][1]):
       x[i] , x[i+1] = x[i+1] , x[i]
print(x)